/* gris oscuro = #1d252c:
gris claro = #626262;
background gris = #1b2127; 
celeste =  #026fff;
*/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?s5gzg7');
  src:  url('../fonts/icomoon.eot?s5gzg7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?s5gzg7') format('truetype'),
    url('../fonts/icomoon.woff?s5gzg7') format('woff'),
    url('../fonts/icomoon.svg?s5gzg7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e900";
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 0;
}

h1 strong {
  color: #026fff;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0;
  position: relative;
}
h2:before {
  content: '';
  position: absolute;
  left: -25px;
  top: 20%;
  font-size: 10px;
  color: #026fff; 
  width: 20px;
  height: 20px;
  background-color: #026fff;
  border-radius: 50%;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  cursor: pointer;
}

figure {
  margin: 0;
}

.container {
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.burguer-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(27, 33, 39, .8);
  opacity: .8;
  display: none;
  line-height: 40px;
  text-align: center;
  color: white;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
}

.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header .menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}
.header ol li .border {
  height: initial;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 14px 0; 
}
.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

.hero {
  height: 300px;
  background-color: #1b2127;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: wrap;
}

.hero-image {
  object-fit: cover;
}

.portfolio {
  background-color: #FAFAFA;
  padding: 1px 0;
  border-left: 10px solid #026fff;
}

.project {
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  box-shadow: 1px 1px 10px 1px lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-details {
  width: 50%;
}

.project-title {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.project-course, .project-date, .project-url {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}

.project strong {
  font-family: 'Fjalla One', sans-serif;
}

.project-image-container {
  width: 50%;
}

.project-image-container img {
  max-width: 100%;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  border-left: 10px solid #026fff;
}

.event-list-title {
  margin-left: 20px;
}

.event {
  margin: 1%;
  width: 48%;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background: #f4fbff;
  box-shadow: 1px 1px 10px 1px lightgray;
}

.event img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background: white;
  position: relative;
  padding: 1px 20px 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  color: #026fff;
  border: 1px solid;
  padding: 5px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.contact {
  background: #026fff;
  color: white;
  height: 150px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-email input {
  width: 200px;
  border-style: none;
  border-radius: 5px;
  padding: 10px 10px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  margin-top: 10px;
  background: transparent;
  color: white;
  border-style: solid;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.form-email h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-top: 0;
}

.social-link {
  display: inline-block;
  margin: 0 10px;
}
.social a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: .2em .3em .1em .3em;
  border-radius: 50%;
}

.social-link {
  font-size: 2em;
}

.social a.twitter:hover {
  color: lightblue;
  border-color: lightblue;
}
.social a.facebook:hover {
  color: blue;
  border-color: blue;
}
.social a.github:hover {
  color: black;
  border-color: black;
}
.social a.instagram:hover {
  color: purple;
  border-color: purple;
}

.footer {
  background-color: #1b2127;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer p {
  display: inline-block;
}

.footer p:after {
  content: ' ▪ ';
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 1em;
  }

  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero-image {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  h1 {
    font-size: 2em;
    z-index: 2;
    text-shadow: 1px 2px 2px #000;
  }
}

@media screen and (max-width: 767px) {
  .project {
    display: block;
  }
  .project-details {
    width: auto;
    font-size: 16px;
  }
  .project-image-container {
    width: auto;
    text-align: center;
  }
  .project-course, .project-date, .project-url {
    margin: .4em 0;
  }
  .project-title {
    font-size: 1.6em;
    margin-bottom: .3em;
  }
  .project-url {
    font-size: 1em;
  }
  .project-course {
    font-size: .8em;
  }
  .project-date {
    font-size: 1em;
  }
  .project-description {
    font-size: 1em;
  }

  .contact {
    height: auto;
  }
  .social-link {
    margin: 0 .1em;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.1em;
  }
  h2:before {
    width: 15px;
    height: 15px;
    left: -24px;
  }

  .burguer-button {
    display: block;
  }
  .header {
    display: block;
    height: auto;
  }
  .header ol {
    display: initial;
  }
  .header ol li {
    height: 50px;
  }
  .header a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    margin-bottom: .5em;
  }
  .header .logo {
    text-align: center;
  }

  .header .menu {
    position: fixed;
    background: rgba(27, 33, 39, .9);
    z-index: 3;
    top: 0;
    left: -100vw;
    bottom: 0;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
  .menu.is-active {
    left: 0;
  }
  .header ol li .border {
    margin: 0; 
  }

  .hero {
    padding: 2em 1em;
  }
  .hero-image {
    filter: opacity(90%) blur(.5px);
  }

  .portfolio, .event-list {
    border-width: 5px;
  }
  .project-details {
    width: auto;
    font-size: 14px;
  }
  .project-description > span {
    display: none;
  }

  .event {
    width: auto;
    flex-shrink: 1;
  }
  .event-detail {
    /* 1em = 16px */
    margin: -2em .5em .5em;
    padding: 1px 1em 1em;
  }

  .contact {
    height: auto;
    padding: 1em;
    display: block;
    text-align: center;
  }
  .form-email input {
    width: 80%;
  }
  .form-email button {
    margin: 1em auto;
    width: 88%;
  }

  .social .social-link {
    /* width: 1.8em; */
    /* height: 1.8em;  */
    /* margin: 0 1.2em; */
  }

  .footer {
    display: block;
    text-align: center;
  }
  .footer div:nth-child(2) {
    padding-bottom: 1em;
  }

}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1em;
  }

  .project {
    padding: 15px;
  }
  
  .social-link {
    font-size: 1.5em;
  }
  
}