/* gris oscuro = #1d252c:
gris claro = #626262;
background gris = #1b2127; 
celeste =  #026fff;
*/

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 0;
}

h1 strong {
  color: #026fff;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.header {
  background-color: #1b2127;
  color: white;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

.hero {
  height: 300px;
  background-color: #1b2127;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.hero-image {
  object-fit: cover;
}

.portfolio {
  background-color: #FAFAFA;
  padding: 20px;
}

.project {
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-details {
  width: 500px;
}

.project-title {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.project-course, .project-date, .project-url {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}

.project strong {
  font-family: 'Fjalla One', sans-serif;
}

.project-image-container {
  width: 500px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}

.event-list-title {
  margin-left: 20px;
}

.event {
  margin: 10px;
  width: 480px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background: #f4fbff;
}

.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  color: #026fff;
  border: 1px solid;
  padding: 5px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.contact {
  background: #026fff;
  color: white;
  height: 150px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-email input {
  border-style: none;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  margin-top: 10px;
  background: transparent;
  color: white;
  border-style: solid;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.form-email h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.social-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  background-size: 40px;
}

.social-link.twitter {
  background-image: url('../images/twitter.svg');
}
.social-link.facebook {
  background-image: url('../images/facebook.svg');
}
.social-link.github {
  background-image: url('../images/github.svg');
}
.social-link.instagram {
  background-image: url('../images/instagram.svg');
}

.footer {
  background-color: #1b2127;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  display: inline-block;
}

.footer p:after {
  content: ' ▪ ';
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}